
/***HOME***/
.central {
	width: 100%;
	height: 400px;
	padding-top: 1%;
	padding-bottom: 1%;
}

#maps{
	width: 49%;
	height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 1px solid black;
}

.more {
	width: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.orderby {
	display: inline;
}

.location{
	width: 50%;
	margin-top: 5px;
	
}

.orderby, .location {
	margin-left: 2%
}


#imgplace, #img_food{
	border-radius: 10px;
	width: 20%;
	display: inline;
}


/***MODAL WINDOW***/

section[name="preferences"] > section  {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}


section[name="preferences"] > section:last-child {
  width: 34%;
  padding-left: 1%;
}

/* 'star-rating' component */
.starRate {position:relative; margin:20px; overflow:hidden; zoom:1;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url(img/star_rate.gif) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate a:hover {background-position:left -32px;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
.starRate a:hover span {left:90px; width:100%;}
