/***HOME***/

footer { /* force footer to stay at the bottom of the page */
  position: absolute;
  bottom: 0;
}

.central { /* wrapper: fixed page size */
  position: absolute;
  top: 60px;
  bottom: 30px;
  left: 0;
  right: 0;
  overflow: hidden;
	padding: 10px;
  box-sizing: border-box;
}

#maps, #locations {
  display: inline-block;
	width: 50%;
	height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

#maps {border: 1px solid black;}
#locations {
  overflow-x: scroll;
  padding-top: 20px; /* equals to .order_by height */
}

.orderby {
  position: absolute;
  top: 10px;
  width:50%;
	display: block-inline;
  text-align: center;

  background-color: tan;
  border: 1px solid #333;
  border-right: 0;
  border-left: 0;
}

section.location {
	width 100%;
	margin-top: 10px;
  border-bottom: 1px #ccc dotted;
  vertical-align: top;
  box-size: border-box;
  word-wrap:break-word;
}

section.location:last-child {
  border-bottom: 0;
}

section.location span.rating  a:first-child {
  text-decoration: none;
  font-size: 24px;
  color: steelblue;
}

section.location span.rating a:first-child:hover {text-decoration: underline;}

section.location img {  
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 10px;
  clear: both;
}

section.location span.rating { 
  display: block;
  width: 100%;
}

section.location span.rating::after{
  font-size: 24px;
  color: gold;
  display: inline-block;
  content: "\2605";
}
section.location span.rating[data-stars="2"]::after{
  content: "\2605\2605";
}
section.location span.rating[data-stars="3"]::after{
  content: "\2605\2605\2605";
}
section.location span.rating[data-rate="4"]::after{
  content: "\2605\2605\2605\2605";
}
section.location span.rating[data-stars="5"]::after{
  content: "\2605\2605\2605\2605\2605";
}

section.location h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.clear {
  clear: both;
}

ul.comments {
  list-style-type: square;
}

ul.comments li {
  margin-top: 1px;
  margin-bottom: 1px;
}


#imgplace, #img_food{
	border-radius: 10px;
	width: 20%;
	display: inline;
}


/***MODAL WINDOW***/

section[name="preferences"] > section  {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}


section[name="preferences"] > section:last-child {
  width: 34%;
  padding-left: 1%;
}


