/***HOME***/
.central {
	width: 100%;
	height: 400px;
	padding-top: 1%;
	padding-bottom: 1%;
}

#maps{
	width: 49%;
	height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.more {
	width: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.orderby {
	display: inline;
}

.location{
	width: 50%;
	margin-top: 5px;
}

.orderby, .location {
	margin-left: 2%
}

#imgplace {
	width: 50%;
	display: inline;
}

#imgplace{
	border-radius: 10px;
	width: 20%;
	display: inline;
}


