#container {
  position: relative;
}

.central {
	width: 600px;
	height: 120px;
	margin: 0 auto;
	margin-top: 200px;
	padding-left: 20px;
	position: relative;
	z-index: 100;
	background-color: rgba(245, 248, 239, 0.7);
	border-radius: 3px;
	border: 1px solid #fff;
}

#text {
	margin-top: 0px;
	padding-top: 25px;
}

.credentials {
	display: block;
}

i { 
	color: black; 
	font-size: 35px;
	vertical-align: middle;
}

#signup {
	margin-top: 0px;
}

#link {
	display: inline;
}

#shit {
	display: inline;
}

.controller {
	margin-top: 20px;
}

#title {
	margin-top: 0px;
	padding-top: 20px;
}

#slogan {
	margin-top: 0px;
	padding-top: 20px;
}

.box {
	width: 180px;
	height: 35px;
	margin-right: 15px;
}

.central > input {
	font-size: 18px;
	height: 30px;
	width: 250px;
}

footer {
	position: fixed;
	bottom: 0;
}

#maps {
	position: absolute;
	top: 50px;
	bottom: 20px;
	left: 0;
	right: 0;
}

body {
	background-color: transparent;
}