@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.central{
	margin: 40px;
	margin-left: 60px;
	margin-right: 60px;
	font-family: Raleway, Helvetica;
	font-size: 16px;
}

#img_food{
	margin:20px;
	margin-left: 8%;
	border-radius: 10px;
	width: 55%;
	display: inline;
	border: 2px solid green;
}
.sx{
	display: inline-block;
	width: 50%;
}

#description{
	font-family: Raleway, Helvetica;
	font-size: 20px;
}

.comment {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.alex > div {
	margin-top: 3px;
	border-bottom: 1px solid green;
	font-style: italic;	
}

.alex{
	width: 90%;
	height: 300px;
	padding: 30px;
	margin-bottom: 40px;
	overflow-x: hidden;
	border: 2px solid green;
}

#dicono, #qui{
	font-size: 18px;
	font-style:;
}

.alex .rating::after{
	vertical-align: top;
	display: inline-block;
	font-size: 18px;
	color: green !important;
}

.alex .rating {
	font-family: Lato;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}

#name{
	font-family: Lato;
	font-size: 35px;
	font-weight: bold;
	width: 50%;
	color: green;
}

#maps {
  	display: inline-block;
  	margin: 20px;
  	padding: 0;
  	vertical-align: top;
	border: 2px solid green;
	width: 70%;
	height: 400px;
}

textarea{
	width: 100%;
}

#invia{
	display: inline-block;
	border-radius: 5px;
	background-color: white;
	color: green;
	height: 30px;
	width: 20%;
}

#address{
	color: grey;
}

.

 
