@import url(http://fonts.googleapis.com/css?family=Raleway:300);
.central{
	margin: 30px;
	font-family: Raleway, Helvetica;
	font-size: 16px;
}

#img_food{
	margin-top:30px;
	margin-bottom: 50px;
	margin-left: 60px;
	border-radius: 10px;
	width: 50%;
	display: inline;
	border: 2px solid green;
}
.sx{
	display: inline-block;
	width: 50%;
}

#description{
	font-family: Raleway, Helvetica;
	font-size: 20px;
}
.comment {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

#commento{
	margin-top: 3px;
	border-bottom: 1px solid green;
	font-style: italic;	
}

.alex{
	width: 90%;
	height: 300px;
	padding: 30px;
	margin-bottom: 40px;
	overflow-x: hidden;
	border: 2px solid green;
}


.rating{
	vertical-align: top;
	display: inline-block;
	width: 10%;
}

#name{
	font-size: 35px;
	font-weight: bold;
	width: 50%;
}

#name1{
	font-size: 20px;
	font-weight: bold;
	font-style: none;
}

#maps {
  display: inline-block;
	width: 30%;
	height: 150px;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

#maps {
	border: 2px solid green;
	width: 70%;
	height: 300px;
}
textarea, #button1{
	width: 100%;
}

#button1{
	color: green;
}
