.central{
	margin: 30px;
}

#img_food{
	margin:50px;
	border-radius: 10px;
	width: 50%;
	display: inline;
}
.sx{
	display: inline-block;
	width: 50%;
}
.comment {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

#commento{
	margin-top: 3px;
	border-bottom: 1px solid blue;	
}

.alex{
	width: 90%;
	height: 300px;
	padding: 30px;
	margin-bottom: 40px;
	overflow-x: hidden;
	border: 1px solid black;
}


.rating{
	vertical-align: top;
	display: inline;
}

#maps {
  display: inline-block;
	width: 30%;
	height: 150px;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

#maps {
	border: 1px solid black;
	width: 70%;
	height: 300px;
}
textarea, #button1{
	width: 90%;
}
