/*
 * I don't know if relaying so much on % width on 
 * elemnets like #profile_photo is a good choice.
 * boh...
 * - Martin
 */

section.content {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both; /* this maybe is unusefull here */
  display: block;
}

.profile, .preference {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both; /* this maybe is unusefull here */
}

.profile {
  width: 30%;
  background-color: #f5f5f5;
  padding: 10px;
  border-right: 1px #ccc dotted;
}

.profile ul {
  list-style: none;
}

.preference {
  width: 70%;
	background-color: #f5f5f5;
}

#profile_photo {
	display: inline;
  margin: auto;
	width: 50%;
  margin-left: 25%;
  box-shadow: 1px 1px 3px #eee;
  border: 1px solid #333;
	border-radius: 20px;
}

#nome{
  display: inline-block;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;

}

section[name="purpose"] {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  border-right: 1px #ccc dotted;


}

section[name="tag"] {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  border-right: 1px #ccc dotted;

}

section[name="cousine"] {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  border-right: 1px #ccc dotted;

}

section[name="main_preferences"] > section  {
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  width: 33%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

section[name="main_preferences"] h3, 
section[name="main_preferences"] h4,
section[name="my_reviews"] h3,
section[name="my_reviews"] h4 {
}


/***LOCATION***/

section[name="location"] > div {
  display: inline-block;
  margin: 0;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

section[name="location"] > div:last-child {
  width: 34%;
  padding-left: 1%;
}

section[name="location"] > div > img {
	width: 35%;
  border: 1px solid #333;
	border-radius: 10px;
}


section.location {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px #ccc dotted;
  vertical-align: top;
  box-size: border-box;
  word-wrap:break-word;
}

section.location:last-child {
  border-bottom: 0;
}
section.location span.rating{
  display: block;
}
section.location span.rating  a:first-child {
  text-decoration: none;
  font-size: 24px;
  color: steelblue;
}

section.location span.rating a:first-child:hover {text-decoration: underline;}

section.location img {  
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  clear: both;
}

section.location span.rating::after{
  font-size: 24px;
  color: gold;
  display: inline-block;
  content: "\2605";
}
section.location span.rating[data-stars="2"]::after{
  content: "\2605\2605";
}
section.location span.rating[data-stars="3"]::after{
  content: "\2605\2605\2605";
}
section.location span.rating[data-rate="4"]::after{
  content: "\2605\2605\2605\2605";
}
section.location span.rating[data-stars="5"]::after{
  content: "\2605\2605\2605\2605\2605";
}

section.location h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.clear {
  clear: both;
}

ul.comments {
  list-style-type: square;
}

ul.comments li {
  margin-top: 1px;
  margin-bottom: 1px;
}

.orderby, .location {
  margin-left: 2%
}


#imgplace{
  border-radius: 15px;
  width: 20%;
  display: inline;
}

#address{
  display: block;
  margin-bottom: 1%;
}

