/*HEADER AND FOOTER ONLY*/

body {
	background-color: #32CDC3;
	height: 100%; 
	margin: 0; 
	padding: 0;
  /* == header.height */
  padding-top: 60px;
  box-sizing: border-box;
}

/***HEADER***/
header {
	height: 60px;
	width: 100%;
	background-color: #D71C1C;
	position: fixed;
	top: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

header > * {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  height: 60px;
}

select > option {text-transform: capitalize;}

#welcome {
	float: right;
	margin-right: 15px;
  text-align: right;
}

#nickname {
  text-transform: capitalize;
  font-style: italic;
  color: #333;
}

#welcome a { /* log out */
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
  color: #000;
}

div.pull-right {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
}
div.pull-right > button {
  vertical-align: middle; /* chiedere a mattia come fixare! */
}

#language {
	margin-left: 20px;
}

#login {
	margin-right: 20px;
}

#fblogin {
	width: 14%;
	position: fixed;
	top: 10px;
	right: 5px;
}

.inputs {
	height: 25px;
	width: 170px;
	margin-left: 10px;
}

i {
	font-size: 30px;
	margin-left: 5px;
	color: black;
}

/***FOOTER***/
footer{
	height: 50px;
	width: 100%;
	background-color: #25CF30;
	text-align: center;
  padding-top: 10px;
}
