#container {
  z-index: 100;
  position: relative;
}

/***HEADER***/
.header {
	height: 100px;
	width: 100%;
	background-color: #D71C1C;
	position: fixed;
	padding-top: 5px;
	top: 0;
}

.header * {
	display: inline;
}

#logo {
	margin-top: 0px;
	float: left;
	margin-left: 15px;
}

.buttons {
	float: right;
	margin-top: 30px;
}

#language {
	margin-top: 30px;
	margin-left: 20px;
}

#login {
	margin-right: 20px;
}

/***CENTRAL***/
#map-canvas {
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
}

.central {
	width: 450px;
	height: 400px;
	margin: 0 auto;
	padding-top: 200px;
}

body {
	background-color: #32CDC3;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#text {
	margin-top: 0px;
	padding-top: 25px;
}

.credentials {
	display: block;
}

i { 
	color: black; 
	font-size: 35px;
	vertical-align: middle;
}

#signup {
	margin-top: 0px;
}

#link {
	display: inline;
}

#shit {
	display: inline;
}

.controller {
	margin-top: 20px;
}

#title {
	margin-top: 0px;
	padding-top: 20px;
}

#slogan {
	margin-top: 0px;
	padding-top: 20px;
}

.box {
	width: 180px;
	height: 35px;
	margin-right: 15px;
}

/***FOOTER***/
.footer {
	height: 50px;
	width: 100%;
	background-color: #25CF30;
	text-align: center;
	position: fixed;
	bottom: 0;
}

.licence {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
}

