#container {
  z-index: 100;
  position: relative;
}

body {
	background-color: #32CDC3;
	height: 100%; 
	margin: 0; 
	padding: 0;
  /* == header.height */
  padding-top: 100px;
  box-sizing: border-box;
}

/***HEADER***/
header {
	height: 100px;
	width: 100%;
	background-color: #D71C1C;
	position: fixed;
	top: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

header > * {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

select > option {text-transform: capitalize;}

#welcome {
	float: right;
	margin-right: 15px;
  text-align: right;
}

#nickname {
  text-transform: capitalize;
  font-style: italic;
  color: #333;
}

#welcome a { /* log out */
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
  color: #000;
}

div.pull-right {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
}
div.pull-right > button {
  vertical-align: middle; /* chiedere a mattia come fixare! */
}

#language {
	margin-left: 20px;
}

#login {
	margin-right: 20px;
}

/* THIS SHIT should be defined in per page stylesheet! 
 * I suggest to rename this to content.
 * - Martin
 * */ 

/***CENTRAL***/
.central {
	width: 450px;
	height: 400px;
	margin: 0 auto;
	padding-top: 200px;
}



#text {
	margin-top: 0px;
	padding-top: 25px;
}

.credentials {
	display: block;
}

i { 
	color: black; 
	font-size: 35px;
	vertical-align: middle;
}

#signup {
	margin-top: 0px;
}

#link {
	display: inline;
}

#shit {
	display: inline;
}

.controller {
	margin-top: 20px;
}

#title {
	margin-top: 0px;
	padding-top: 20px;
}

#slogan {
	margin-top: 0px;
	padding-top: 20px;
}

.box {
	width: 180px;
	height: 35px;
	margin-right: 15px;
}

/***FOOTER***/
footer{
	height: 50px;
	width: 100%;
	background-color: #25CF30;
	text-align: center;
  padding-top: 10px;
}
