@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/***HOME***/

footer { /* force footer to stay at the bottom of the page */
  position: absolute;
  font-family: Raleway,Helvetica;
  bottom: 0;
}

.central { /* wrapper: fixed page size */
  font-family: Raleway, Helvetica;
  font-size: 16px;
  position: absolute;
  top: 60px;
  bottom: 30px;
  left: 0;
  right: 0;
  overflow: hidden;
	padding: 10px;
  box-sizing: border-box;
  background-color: rgb(237, 234, 227);
}

#maps, #locations {
  display: inline-block;
	width: 50%;
	height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

#maps {border: 1px solid green;}

#locations {
  overflow-x: scroll;
  padding-top: 25px; /* equals to .order_by height */
  padding-right: 10px;
}

.orderby {
  position: absolute;
  top: 10px;
  width:50%;
  height: 25px;
  line-height: 25px;
	display: block-inline;
  text-align: center;

  background-color: rgb(145, 198, 114);
  border: 1px solid #333;
  border-right: 0;
  border-left: 0;
}

section.location {
	width 100%;
	margin-top: 10px;
  border-bottom: 1px #ccc dotted;
  vertical-align: top;
  box-sizing: border-box;
  word-wrap:break-word;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 19px;
}

section.location:last-child {
  border-bottom: 0;
}

section.location img {  
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 10px;
  margin:5px;
  clear: both;
}

section.location h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.fi-widget { /* what a dirty hack.. bleah :P */
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 1px;
}

.fi-widget:hover {
  cursor:pointer;
  text-shadow: 1px 1px 5px #fff;
}

.clear {
  clear: both;
}

ul.comments {
  list-style-type: square;
}

ul.comments li {
  margin-top: 1px;
  margin-bottom: 1px;
}

#imgplace, #img_food{
	border-radius: 10px;
	width: 20%;
	display: inline;
}

span.author::before {
  content: '- ';
  display: inline-block;
}

span.author a {
  font-size: 18px !important;
  color: #333 !important;
}

span.rating.author::after{
  color: green;
  font-size: 18px;
}

/***MODAL WINDOW***/
section[name="preferences"] > section  {
  border-right: 2px #ccc dotted;
  font-family: Raleway, Helvetica;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

section[name="preferences"] > section:last-child {
  border-right: none;
  width: 34%;
  padding-left: 1%;
}

h3.boh{
  font-family: Lato;
  font-style: bold;
  font-size: 24px;
}

.checkbox{
  font-family: Relawey;
}
