/*
 * I don't know if relaying so much on % width on 
 * elemnets like #profile_photo is a good choice.
 * boh...
 * - Martin
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

section.content {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
  clear: both; /* this maybe is unusefull here */
  display: block;
  font-family: Raleway, Helvetica;
  font-size: 18px;
}

ul {list-style-type: none;}
ul input {vertical-align: middle;}

.title {
  font-size: 32px;
  font-weight: bold;
}

/***PROFILE***/

#name{
  display: inline-block;
  font-family: Lato;
  font-size: 35px;
  font-weight: bold;
}

.profile .rating::after{
  vertical-align: middle;
  display: inline-block;
  font-size: 28px;
  color: green;
  content: "\25C9";
}

.profile li span {
  display: inline-block;
  width: 120px;
}

.profile .rating[data-stars="2"]::after{
  content: "\25C9\25C9";
}
.profile .rating[data-stars="3"]::after{
  content: "\25C9\25C9\25C9";
}
.profile .rating[data-stars="4"]::after{
  content: "\25C9\25C9\25C9\25C9";
}
.profile .rating[data-stars="5"]::after{
  content: "\25C9\25C9\25C9\25C9\25C9";
}

#profile_photo {
  display: inline;
  margin: 50px;
  width: 50%;
  margin-left: 20%;
  border: 1px solid green;
  border-radius: 20px;
}

.profile {
  width: 28%;
  padding: 10px;
  border-right: 2px green solid;
}

.profile ul {
  font-size: 18px;
  list-style: none;
}

.profile, .preference {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both; /* this maybe is unusefull here */
}

/***PREFERENCE***/
.preference {
  padding-left: 2%;
  width: 70%;
  border-left: 2px solid green;
  margin-left: -1px;
}

section[name="purpose"] {
  font-size: 20px;
  margin-left: 5%;
  width: 100%;
  height: 100%;
  border-right: 1px #ccc dotted;
}

section[name="tag"] {
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-right: 1px #ccc dotted;
}

section[name="cousine"] {
  font-size: 20px;
  width: 100%;
  height: 100%;

}

section[name="main_preferences"] > section  {
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  width: 33%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

section[name="main_preferences"] h3, 
section[name="main_preferences"] h4,
section[name="my_reviews"] h3,
section[name="my_reviews"] h4 {
}


/***LOCATION***/

section[name="location"] > div {
  display: inline-block;
  margin: 0;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

section[name="location"] > div:last-child {
  width: 34%;
  padding-left: 1%;
}

section[name="location"] > div > img {
	width: 30%;
  border: 3px solid green;
	border-radius: 10px;
}


section.location {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px #ccc dotted;
  vertical-align: top;
  box-size: border-box;
  word-wrap:break-word;
}


section[name=my_reviews]{
  width: 90%;
  height: 500px;
  padding: 30px;
  margin-bottom: 40px;
  overflow-x: hidden;
  border: 2px dotted green;
}

section.location:last-child {
  border-bottom: 0;
}
section.location span.rating{
  display: block;
}
section.location span.rating  a:first-child {
  text-decoration: none;
  font-size: 24px;
  color: steelblue;
}

section.location span.rating a:first-child:hover {text-decoration: underline;}

section.location img {  
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  clear: both;
}

.location span.commenter {
  font-size: 18px;
  color: darkgreen;
}

section.location h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.clear {
  clear: both;
}

ul.comments {
  list-style-type: square;
}

ul.comments li {
  margin-top: 1px;
  margin-bottom: 1px;
}

.orderby, .location {
  margin-left: 2%
}


.address{
  color: grey;
  display: block;
  margin: 1%;
}

.tag{
  font-family: Lato;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.loc_info_link {
  font-family: Lato;
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.fleft {
  float: left;
}
