span.rating * {
  display: inline-block;
}

span.rating  a:first-child {
  text-decoration: none;
  font-size: 24px;
  color: steelblue;
}

span.rating a:first-child:hover {text-decoration: underline;}

span.rating { 
  display: block;
  width: 100%;
}

span.rating::after{
  font-size: 24px;
  color: gold;
  display: inline-block;
  content: "\2605";
  text-shadow: 1px 1px 1px #333;
}

span.rating[data-stars="2"]::after{content: "\2605\2605";}
span.rating[data-stars="3"]::after{content: "\2605\2605\2605";}
span.rating[data-stars="4"]::after{
  content: "\2605\2605\2605\2605";
}
span.rating[data-stars="5"]::after{
  content: "\2605\2605\2605\2605\2605";
}
